body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:863px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:614px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5670 {
  position:absolute;
  left:128px;
  top:-128px;
  width:359px;
  height:614px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5671 {
  position:absolute;
  left:2px;
  top:299px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
}
#u5672 {
  position:absolute;
  left:3px;
  top:45px;
  width:22px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u5673 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5674 {
  position:absolute;
  left:30px;
  top:41px;
  width:49px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u5675 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:33px;
}
#u5676 {
  position:absolute;
  left:0px;
  top:34px;
  width:124px;
  height:33px;
}
#u5677 {
  position:absolute;
  left:2px;
  top:8px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5678 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:247px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5679 {
  position:absolute;
  left:9px;
  top:103px;
  width:596px;
  height:247px;
}
#u5680 {
  position:absolute;
  left:2px;
  top:116px;
  width:592px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:564px;
  height:223px;
}
#u5681 {
  position:absolute;
  left:24px;
  top:116px;
  width:564px;
  height:223px;
}
#u5682 {
  position:absolute;
  left:2px;
  top:104px;
  width:560px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u5683 {
  position:absolute;
  left:348px;
  top:42px;
  width:73px;
  height:18px;
  font-size:14px;
}
#u5684 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:14px;
}
#u5685 {
  position:absolute;
  left:313px;
  top:44px;
  width:37px;
  height:14px;
  font-size:12px;
}
#u5686 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:14px;
}
#u5687 {
  position:absolute;
  left:452px;
  top:44px;
  width:25px;
  height:14px;
  font-size:12px;
}
#u5688 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:14px;
}
#u5689 {
  position:absolute;
  left:544px;
  top:44px;
  width:61px;
  height:14px;
  font-size:12px;
}
#u5690 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:18px;
}
#u5691 {
  position:absolute;
  left:477px;
  top:42px;
  width:30px;
  height:18px;
  font-size:14px;
  text-align:center;
}
#u5692 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u5693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u5693 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u5694 {
  position:absolute;
  left:2px;
  top:5px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u5695 {
  position:absolute;
  left:256px;
  top:-1px;
  width:359px;
  height:26px;
}
#u5696 {
  position:absolute;
  left:2px;
  top:5px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:238px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5697 {
  position:absolute;
  left:299px;
  top:-108px;
  width:25px;
  height:238px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u5698 {
  position:absolute;
  left:2px;
  top:111px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u5699 {
  position:absolute;
  left:636px;
  top:265px;
  width:21px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u5700 {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  white-space:nowrap;
}
#u5701_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5701 {
  position:absolute;
  left:657px;
  top:259px;
  width:94px;
  height:40px;
  font-size:20px;
}
#u5702 {
  position:absolute;
  left:2px;
  top:8px;
  width:90px;
  word-wrap:break-word;
}
#u5703_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5703 {
  position:absolute;
  left:139px;
  top:75px;
  width:148px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5704 {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  white-space:nowrap;
}
#u5705_div {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5705 {
  position:absolute;
  left:328px;
  top:75px;
  width:123px;
  height:14px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u5706 {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u5707_div {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5707 {
  position:absolute;
  left:689px;
  top:71px;
  width:174px;
  height:18px;
}
#u5708 {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  white-space:nowrap;
}
#u5709_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:85px;
  height:21px;
}
#u5709p000 {
  position:absolute;
  left:-1px;
  top:0px;
  width:76px;
  height:1px;
}
#u5709p000_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:88px;
  height:22px;
}
#u5709p001 {
  position:absolute;
  left:-7px;
  top:-10px;
  width:20px;
  height:20px;
}
#u5709p001_img {
  position:absolute;
  left:-10px;
  top:-11px;
  width:32px;
  height:42px;
}
#u5709.compound {
  width:0px;
  height:0px;
}
#u5709 {
  position:absolute;
  left:605px;
  top:79px;
  width:74px;
  height:1px;
}
#u5710 {
  position:absolute;
  left:2px;
  top:-8px;
  width:70px;
  visibility:hidden;
  word-wrap:break-word;
}
