body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6173 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u6174 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u6175 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u6176 {
  position:absolute;
  left:2px;
  top:5px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6177 {
  position:absolute;
  left:0px;
  top:26px;
  width:359px;
  height:55px;
}
#u6178 {
  position:absolute;
  left:2px;
  top:20px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
}
#u6179 {
  position:absolute;
  left:3px;
  top:45px;
  width:22px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6180 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6181 {
  position:absolute;
  left:30px;
  top:41px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6182 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u6183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
}
#u6183 {
  position:absolute;
  left:0px;
  top:34px;
  width:84px;
  height:33px;
}
#u6184 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6185_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:559px;
}
#u6185 {
  position:absolute;
  left:0px;
  top:81px;
  width:360px;
  height:559px;
}
#u6186 {
  position:absolute;
  left:2px;
  top:272px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4CC8FF;
}
#u6187 {
  position:absolute;
  left:280px;
  top:44px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4CC8FF;
}
#u6188 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
