body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:812px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6891 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u6892 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u6893 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u6894 {
  position:absolute;
  left:2px;
  top:5px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6895 {
  position:absolute;
  left:0px;
  top:26px;
  width:359px;
  height:55px;
}
#u6896 {
  position:absolute;
  left:2px;
  top:20px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
}
#u6897 {
  position:absolute;
  left:3px;
  top:45px;
  width:22px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6898 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6899 {
  position:absolute;
  left:30px;
  top:41px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6900 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:33px;
}
#u6901 {
  position:absolute;
  left:0px;
  top:34px;
  width:165px;
  height:33px;
}
#u6902 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6903 {
  position:absolute;
  left:0px;
  top:81px;
  width:359px;
  height:559px;
  overflow:hidden;
}
#u6903_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:559px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6903_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6904 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:1011px;
  overflow:hidden;
  touch-action:none;
}
#u6904_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:1011px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6904_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6905 {
  position:absolute;
  left:86px;
  top:6px;
  width:264px;
  height:47px;
}
#u6905_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u6906 {
  position:absolute;
  left:13px;
  top:78px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6907 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6908_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u6908 {
  position:absolute;
  left:2px;
  top:53px;
  width:358px;
  height:4px;
}
#u6909 {
  position:absolute;
  left:2px;
  top:-6px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6910 {
  position:absolute;
  left:72px;
  top:106px;
  width:278px;
  height:47px;
}
#u6910_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6911 {
  position:absolute;
  left:57px;
  top:154px;
  width:293px;
  height:47px;
}
#u6911_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6912 {
  position:absolute;
  left:13px;
  top:153px;
  width:337px;
  height:1px;
}
#u6913 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6914 {
  position:absolute;
  left:57px;
  top:201px;
  width:293px;
  height:47px;
}
#u6914_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6915 {
  position:absolute;
  left:51px;
  top:249px;
  width:299px;
  height:47px;
}
#u6915_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6916 {
  position:absolute;
  left:13px;
  top:248px;
  width:337px;
  height:1px;
}
#u6917 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6918 {
  position:absolute;
  left:13px;
  top:201px;
  width:337px;
  height:1px;
}
#u6919 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6920 {
  position:absolute;
  left:86px;
  top:296px;
  width:264px;
  height:47px;
}
#u6920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6921 {
  position:absolute;
  left:115px;
  top:343px;
  width:235px;
  height:47px;
}
#u6921_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6922 {
  position:absolute;
  left:13px;
  top:343px;
  width:337px;
  height:1px;
}
#u6923 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6924 {
  position:absolute;
  left:13px;
  top:296px;
  width:337px;
  height:1px;
}
#u6925 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u6926 {
  position:absolute;
  left:13px;
  top:21px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u6927 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u6928 {
  position:absolute;
  left:13px;
  top:121px;
  width:59px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u6929 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u6930 {
  position:absolute;
  left:13px;
  top:169px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u6931 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u6932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u6932 {
  position:absolute;
  left:13px;
  top:216px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u6933 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u6934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u6934 {
  position:absolute;
  left:13px;
  top:264px;
  width:38px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u6935 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u6936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u6936 {
  position:absolute;
  left:13px;
  top:311px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u6937 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u6938 {
  position:absolute;
  left:13px;
  top:358px;
  width:102px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u6939 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u6940 {
  position:absolute;
  left:115px;
  top:389px;
  width:235px;
  height:47px;
}
#u6940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u6941 {
  position:absolute;
  left:13px;
  top:404px;
  width:102px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u6942 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u6943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6943 {
  position:absolute;
  left:13px;
  top:435px;
  width:337px;
  height:1px;
}
#u6944 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6945 {
  position:absolute;
  left:13px;
  top:389px;
  width:337px;
  height:1px;
}
#u6946 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6947 {
  position:absolute;
  left:86px;
  top:436px;
  width:264px;
  height:47px;
}
#u6947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u6948 {
  position:absolute;
  left:13px;
  top:451px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u6949 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u6950_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u6950 {
  position:absolute;
  left:2px;
  top:482px;
  width:358px;
  height:4px;
}
#u6951 {
  position:absolute;
  left:2px;
  top:-6px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u6952 {
  position:absolute;
  left:13px;
  top:507px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6953 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u6954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6954 {
  position:absolute;
  left:13px;
  top:648px;
  width:337px;
  height:1px;
}
#u6955 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u6956 {
  position:absolute;
  left:13px;
  top:550px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u6957 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u6958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u6958 {
  position:absolute;
  left:13px;
  top:584px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u6959 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u6960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u6960 {
  position:absolute;
  left:13px;
  top:616px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u6961 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u6962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u6962 {
  position:absolute;
  left:284px;
  top:584px;
  width:66px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u6963 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u6964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u6964 {
  position:absolute;
  left:284px;
  top:616px;
  width:66px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u6965 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u6966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6966 {
  position:absolute;
  left:13px;
  top:764px;
  width:337px;
  height:1px;
}
#u6967 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u6968 {
  position:absolute;
  left:13px;
  top:667px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u6969 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u6970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u6970 {
  position:absolute;
  left:13px;
  top:701px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u6971 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u6972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u6972 {
  position:absolute;
  left:13px;
  top:733px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u6973 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u6974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6974 {
  position:absolute;
  left:13px;
  top:847px;
  width:337px;
  height:1px;
}
#u6975 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u6976 {
  position:absolute;
  left:13px;
  top:785px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u6977 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u6978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u6978 {
  position:absolute;
  left:13px;
  top:819px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u6979 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u6980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u6980 {
  position:absolute;
  left:10px;
  top:869px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u6981 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u6982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6982 {
  position:absolute;
  left:10px;
  top:905px;
  width:337px;
  height:1px;
}
#u6983 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u6984 {
  position:absolute;
  left:10px;
  top:927px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u6985 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u6986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u6986 {
  position:absolute;
  left:10px;
  top:966px;
  width:337px;
  height:1px;
}
#u6987 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:14px;
}
#u6988 {
  position:absolute;
  left:62px;
  top:977px;
  width:234px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u6989 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u6990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6990 {
  position:absolute;
  left:341px;
  top:1008px;
  width:112px;
  height:11px;
}
#u6991 {
  position:absolute;
  left:2px;
  top:-2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6992 {
  position:absolute;
  left:341px;
  top:-450px;
  width:112px;
  height:11px;
}
#u6993 {
  position:absolute;
  left:2px;
  top:-2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:73px;
}
#u6994 {
  position:absolute;
  left:486px;
  top:387px;
  width:24px;
  height:73px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u6995 {
  position:absolute;
  left:2px;
  top:28px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:73px;
}
#u6996 {
  position:absolute;
  left:486px;
  top:437px;
  width:24px;
  height:73px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u6997 {
  position:absolute;
  left:2px;
  top:28px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6998 {
  position:absolute;
  left:387px;
  top:437px;
  width:222px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u6999 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
#u7000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u7000 {
  position:absolute;
  left:385px;
  top:41px;
  width:427px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  line-height:28px;
}
#u7001 {
  position:absolute;
  left:0px;
  top:0px;
  width:427px;
  word-wrap:break-word;
}
