body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8395 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u8396 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u8397 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u8398 {
  position:absolute;
  left:2px;
  top:5px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8399 {
  position:absolute;
  left:0px;
  top:26px;
  width:359px;
  height:55px;
}
#u8400 {
  position:absolute;
  left:2px;
  top:20px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
}
#u8401 {
  position:absolute;
  left:3px;
  top:45px;
  width:22px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u8402 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8403 {
  position:absolute;
  left:30px;
  top:41px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8404 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:33px;
}
#u8405 {
  position:absolute;
  left:0px;
  top:34px;
  width:165px;
  height:33px;
}
#u8406 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8407 {
  position:absolute;
  left:0px;
  top:81px;
  width:359px;
  height:559px;
  overflow:hidden;
}
#u8407_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:559px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8407_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8408 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:1011px;
  overflow:hidden;
  touch-action:none;
}
#u8408_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:1011px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8408_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8409 {
  position:absolute;
  left:86px;
  top:6px;
  width:264px;
  height:47px;
}
#u8409_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u8410 {
  position:absolute;
  left:13px;
  top:78px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u8411 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8412_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u8412 {
  position:absolute;
  left:2px;
  top:53px;
  width:358px;
  height:4px;
}
#u8413 {
  position:absolute;
  left:2px;
  top:-6px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8414 {
  position:absolute;
  left:72px;
  top:106px;
  width:278px;
  height:47px;
}
#u8414_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8415 {
  position:absolute;
  left:57px;
  top:154px;
  width:293px;
  height:47px;
}
#u8415_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8416_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8416 {
  position:absolute;
  left:13px;
  top:153px;
  width:337px;
  height:1px;
}
#u8417 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8418 {
  position:absolute;
  left:57px;
  top:201px;
  width:293px;
  height:47px;
}
#u8418_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8419 {
  position:absolute;
  left:51px;
  top:249px;
  width:299px;
  height:47px;
}
#u8419_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8420 {
  position:absolute;
  left:13px;
  top:248px;
  width:337px;
  height:1px;
}
#u8421 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8422 {
  position:absolute;
  left:13px;
  top:201px;
  width:337px;
  height:1px;
}
#u8423 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8424 {
  position:absolute;
  left:86px;
  top:296px;
  width:264px;
  height:47px;
}
#u8424_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8425 {
  position:absolute;
  left:115px;
  top:343px;
  width:235px;
  height:47px;
}
#u8425_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8426 {
  position:absolute;
  left:13px;
  top:343px;
  width:337px;
  height:1px;
}
#u8427 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8428 {
  position:absolute;
  left:13px;
  top:296px;
  width:337px;
  height:1px;
}
#u8429 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u8430 {
  position:absolute;
  left:13px;
  top:21px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8431 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u8432 {
  position:absolute;
  left:13px;
  top:121px;
  width:59px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8433 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u8434 {
  position:absolute;
  left:13px;
  top:169px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8435 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u8436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u8436 {
  position:absolute;
  left:13px;
  top:216px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8437 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u8438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u8438 {
  position:absolute;
  left:13px;
  top:264px;
  width:38px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8439 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u8440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u8440 {
  position:absolute;
  left:13px;
  top:311px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8441 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u8442 {
  position:absolute;
  left:13px;
  top:358px;
  width:102px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8443 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u8444 {
  position:absolute;
  left:115px;
  top:389px;
  width:235px;
  height:47px;
}
#u8444_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8445_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u8445 {
  position:absolute;
  left:13px;
  top:404px;
  width:102px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8446 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u8447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8447 {
  position:absolute;
  left:13px;
  top:435px;
  width:337px;
  height:1px;
}
#u8448 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8449 {
  position:absolute;
  left:13px;
  top:389px;
  width:337px;
  height:1px;
}
#u8450 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8451 {
  position:absolute;
  left:86px;
  top:436px;
  width:264px;
  height:47px;
}
#u8451_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u8452 {
  position:absolute;
  left:13px;
  top:451px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8453 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8454_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u8454 {
  position:absolute;
  left:2px;
  top:482px;
  width:358px;
  height:4px;
}
#u8455 {
  position:absolute;
  left:2px;
  top:-6px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u8456 {
  position:absolute;
  left:13px;
  top:507px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u8457 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8458_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8458 {
  position:absolute;
  left:13px;
  top:648px;
  width:337px;
  height:1px;
}
#u8459 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u8460 {
  position:absolute;
  left:13px;
  top:550px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u8461 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u8462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u8462 {
  position:absolute;
  left:13px;
  top:584px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8463 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u8464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u8464 {
  position:absolute;
  left:13px;
  top:616px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8465 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u8466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u8466 {
  position:absolute;
  left:284px;
  top:584px;
  width:66px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8467 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u8468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u8468 {
  position:absolute;
  left:284px;
  top:616px;
  width:66px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8469 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u8470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8470 {
  position:absolute;
  left:13px;
  top:764px;
  width:337px;
  height:1px;
}
#u8471 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u8472 {
  position:absolute;
  left:13px;
  top:667px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u8473 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u8474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u8474 {
  position:absolute;
  left:13px;
  top:701px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8475 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u8476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u8476 {
  position:absolute;
  left:13px;
  top:733px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8477 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u8478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8478 {
  position:absolute;
  left:13px;
  top:847px;
  width:337px;
  height:1px;
}
#u8479 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u8480 {
  position:absolute;
  left:13px;
  top:785px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u8481 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u8482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u8482 {
  position:absolute;
  left:13px;
  top:819px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8483 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u8484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u8484 {
  position:absolute;
  left:10px;
  top:869px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u8485 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u8486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8486 {
  position:absolute;
  left:10px;
  top:905px;
  width:337px;
  height:1px;
}
#u8487 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u8488 {
  position:absolute;
  left:10px;
  top:927px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u8489 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u8490_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8490 {
  position:absolute;
  left:10px;
  top:966px;
  width:337px;
  height:1px;
}
#u8491 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8492_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:14px;
}
#u8492 {
  position:absolute;
  left:62px;
  top:977px;
  width:234px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u8493 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u8494_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8494 {
  position:absolute;
  left:341px;
  top:1008px;
  width:112px;
  height:11px;
}
#u8495 {
  position:absolute;
  left:2px;
  top:-2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8496_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8496 {
  position:absolute;
  left:341px;
  top:-450px;
  width:112px;
  height:11px;
}
#u8497 {
  position:absolute;
  left:2px;
  top:-2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:28px;
}
#u8498 {
  position:absolute;
  left:370px;
  top:265px;
  width:381px;
  height:28px;
  font-size:20px;
  line-height:28px;
}
#u8499 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  white-space:nowrap;
}
#u8500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:73px;
}
#u8500 {
  position:absolute;
  left:486px;
  top:387px;
  width:24px;
  height:73px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u8501 {
  position:absolute;
  left:2px;
  top:28px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:73px;
}
#u8502 {
  position:absolute;
  left:486px;
  top:437px;
  width:24px;
  height:73px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8503 {
  position:absolute;
  left:2px;
  top:28px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8504 {
  position:absolute;
  left:387px;
  top:437px;
  width:222px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8505 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
