body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:751px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8019 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u8020 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u8021 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u8022 {
  position:absolute;
  left:2px;
  top:5px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8023 {
  position:absolute;
  left:0px;
  top:26px;
  width:359px;
  height:55px;
}
#u8024 {
  position:absolute;
  left:2px;
  top:20px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
}
#u8025 {
  position:absolute;
  left:3px;
  top:45px;
  width:22px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u8026 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8027 {
  position:absolute;
  left:30px;
  top:41px;
  width:129px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u8028 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u8029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:33px;
}
#u8029 {
  position:absolute;
  left:0px;
  top:34px;
  width:165px;
  height:33px;
}
#u8030 {
  position:absolute;
  left:2px;
  top:8px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8031 {
  position:absolute;
  left:0px;
  top:81px;
  width:359px;
  height:559px;
  overflow:hidden;
}
#u8031_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:559px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8031_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8032 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:1011px;
  overflow:hidden;
  touch-action:none;
}
#u8032_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:1011px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8032_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8033 {
  position:absolute;
  left:86px;
  top:6px;
  width:264px;
  height:47px;
}
#u8033_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u8034 {
  position:absolute;
  left:13px;
  top:78px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u8035 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8036_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u8036 {
  position:absolute;
  left:2px;
  top:53px;
  width:358px;
  height:4px;
}
#u8037 {
  position:absolute;
  left:2px;
  top:-6px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8038 {
  position:absolute;
  left:72px;
  top:106px;
  width:278px;
  height:47px;
}
#u8038_input {
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8039 {
  position:absolute;
  left:57px;
  top:154px;
  width:293px;
  height:47px;
}
#u8039_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8040 {
  position:absolute;
  left:13px;
  top:153px;
  width:337px;
  height:1px;
}
#u8041 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8042 {
  position:absolute;
  left:57px;
  top:201px;
  width:293px;
  height:47px;
}
#u8042_input {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8043 {
  position:absolute;
  left:51px;
  top:249px;
  width:299px;
  height:47px;
}
#u8043_input {
  position:absolute;
  left:0px;
  top:0px;
  width:299px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8044 {
  position:absolute;
  left:13px;
  top:248px;
  width:337px;
  height:1px;
}
#u8045 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8046 {
  position:absolute;
  left:13px;
  top:201px;
  width:337px;
  height:1px;
}
#u8047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8048 {
  position:absolute;
  left:86px;
  top:296px;
  width:264px;
  height:47px;
}
#u8048_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8049 {
  position:absolute;
  left:115px;
  top:343px;
  width:235px;
  height:47px;
}
#u8049_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8050 {
  position:absolute;
  left:13px;
  top:343px;
  width:337px;
  height:1px;
}
#u8051 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8052 {
  position:absolute;
  left:13px;
  top:296px;
  width:337px;
  height:1px;
}
#u8053 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u8054 {
  position:absolute;
  left:13px;
  top:21px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8055 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u8056 {
  position:absolute;
  left:13px;
  top:121px;
  width:59px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8057 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u8058 {
  position:absolute;
  left:13px;
  top:169px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8059 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u8060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:18px;
}
#u8060 {
  position:absolute;
  left:13px;
  top:216px;
  width:44px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8061 {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u8062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:18px;
}
#u8062 {
  position:absolute;
  left:13px;
  top:264px;
  width:38px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8063 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u8064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u8064 {
  position:absolute;
  left:13px;
  top:311px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8065 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u8066 {
  position:absolute;
  left:13px;
  top:358px;
  width:102px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8067 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u8068 {
  position:absolute;
  left:115px;
  top:389px;
  width:235px;
  height:47px;
}
#u8068_input {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:18px;
}
#u8069 {
  position:absolute;
  left:13px;
  top:404px;
  width:102px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8070 {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  white-space:nowrap;
}
#u8071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8071 {
  position:absolute;
  left:13px;
  top:435px;
  width:337px;
  height:1px;
}
#u8072 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8073 {
  position:absolute;
  left:13px;
  top:389px;
  width:337px;
  height:1px;
}
#u8074 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8075 {
  position:absolute;
  left:86px;
  top:436px;
  width:264px;
  height:47px;
}
#u8075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:47px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u8076 {
  position:absolute;
  left:13px;
  top:451px;
  width:73px;
  height:18px;
  font-size:14px;
  color:#999999;
  text-align:right;
}
#u8077 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u8078_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:363px;
  height:9px;
}
#u8078 {
  position:absolute;
  left:2px;
  top:482px;
  width:358px;
  height:4px;
}
#u8079 {
  position:absolute;
  left:2px;
  top:-6px;
  width:354px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u8080 {
  position:absolute;
  left:13px;
  top:507px;
  width:59px;
  height:18px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u8081 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u8082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8082 {
  position:absolute;
  left:13px;
  top:648px;
  width:337px;
  height:1px;
}
#u8083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u8084 {
  position:absolute;
  left:13px;
  top:550px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u8085 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u8086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u8086 {
  position:absolute;
  left:13px;
  top:584px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8087 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u8088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u8088 {
  position:absolute;
  left:13px;
  top:616px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8089 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u8090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u8090 {
  position:absolute;
  left:284px;
  top:584px;
  width:66px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8091 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u8092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u8092 {
  position:absolute;
  left:284px;
  top:616px;
  width:66px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8093 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u8094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8094 {
  position:absolute;
  left:13px;
  top:764px;
  width:337px;
  height:1px;
}
#u8095 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u8096 {
  position:absolute;
  left:13px;
  top:667px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u8097 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u8098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u8098 {
  position:absolute;
  left:13px;
  top:701px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8099 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u8100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u8100 {
  position:absolute;
  left:13px;
  top:733px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8101 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u8102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8102 {
  position:absolute;
  left:13px;
  top:847px;
  width:337px;
  height:1px;
}
#u8103 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u8104 {
  position:absolute;
  left:13px;
  top:785px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u8105 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u8106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  height:18px;
}
#u8106 {
  position:absolute;
  left:13px;
  top:819px;
  width:261px;
  height:18px;
  font-size:14px;
  color:#FF0000;
}
#u8107 {
  position:absolute;
  left:0px;
  top:0px;
  width:261px;
  word-wrap:break-word;
}
#u8108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u8108 {
  position:absolute;
  left:10px;
  top:869px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u8109 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u8110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8110 {
  position:absolute;
  left:10px;
  top:905px;
  width:337px;
  height:1px;
}
#u8111 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:18px;
}
#u8112 {
  position:absolute;
  left:10px;
  top:927px;
  width:335px;
  height:18px;
  font-size:14px;
  color:#1E1E1E;
}
#u8113 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u8114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:2px;
}
#u8114 {
  position:absolute;
  left:10px;
  top:966px;
  width:337px;
  height:1px;
}
#u8115 {
  position:absolute;
  left:2px;
  top:-8px;
  width:333px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:14px;
}
#u8116 {
  position:absolute;
  left:62px;
  top:977px;
  width:234px;
  height:14px;
  font-size:12px;
  color:#999999;
  text-align:center;
}
#u8117 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  word-wrap:break-word;
}
#u8118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8118 {
  position:absolute;
  left:341px;
  top:1008px;
  width:112px;
  height:11px;
}
#u8119 {
  position:absolute;
  left:2px;
  top:-2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8120 {
  position:absolute;
  left:341px;
  top:-450px;
  width:112px;
  height:11px;
}
#u8121 {
  position:absolute;
  left:2px;
  top:-2px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  height:28px;
}
#u8122 {
  position:absolute;
  left:370px;
  top:265px;
  width:381px;
  height:28px;
  font-size:20px;
  line-height:28px;
}
#u8123 {
  position:absolute;
  left:0px;
  top:0px;
  width:381px;
  white-space:nowrap;
}
#u8124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:73px;
}
#u8124 {
  position:absolute;
  left:486px;
  top:387px;
  width:24px;
  height:73px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u8125 {
  position:absolute;
  left:2px;
  top:28px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:73px;
}
#u8126 {
  position:absolute;
  left:486px;
  top:437px;
  width:24px;
  height:73px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u8127 {
  position:absolute;
  left:2px;
  top:28px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8128 {
  position:absolute;
  left:387px;
  top:437px;
  width:222px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u8129 {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  white-space:nowrap;
}
