body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(240, 240, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3124 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u3125 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u3126 {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:26px;
}
#u3127 {
  position:absolute;
  left:2px;
  top:5px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:55px;
  background:inherit;
  background-color:rgba(243, 243, 243, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(243, 243, 243, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3128 {
  position:absolute;
  left:0px;
  top:26px;
  width:359px;
  height:55px;
}
#u3129 {
  position:absolute;
  left:2px;
  top:20px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:11px;
}
#u3130 {
  position:absolute;
  left:3px;
  top:45px;
  width:22px;
  height:11px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u3131 {
  position:absolute;
  left:2px;
  top:-2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3132 {
  position:absolute;
  left:30px;
  top:41px;
  width:33px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3133 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:33px;
}
#u3134 {
  position:absolute;
  left:0px;
  top:34px;
  width:84px;
  height:33px;
}
#u3135 {
  position:absolute;
  left:2px;
  top:8px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:559px;
}
#u3136 {
  position:absolute;
  left:0px;
  top:81px;
  width:360px;
  height:559px;
}
#u3137 {
  position:absolute;
  left:2px;
  top:272px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4CC8FF;
}
#u3138 {
  position:absolute;
  left:280px;
  top:44px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#4CC8FF;
}
#u3139 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
